{% extends 'base.html.twig' %}

{% block title %}Ajouter un trick{% endblock %}

{% block body %}
<!-- Header -->
<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 text-uppercase">Ajouter un trick</h1>

    </div>
  </div>
</header>

{% endblock %}
