{% extends 'base.html.twig' %}

{% block title %}Nouveau password{% endblock %}

{% block body %}
{% if app.user %}
<!-- Header -->
<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 text-uppercase">Nouveau Password</h1>
      <h2 class="text-white-50 mx-auto mt-2 mb-5"></h2>
    </div>
  </div>
</header>

<section id="form">
<div class="m-5 d-flex justify-content-center" style="background-color: white;">
  <div class="col-6 text-center">
    {% if error %}
      <div class="alert alert-danger">  {{ error }} </div>
    {% endif %}

    <form action="{{ path('editprofilpasswordvalide') }}" method="post">

    <div class="form-group">
      <label for="password">Mot de passe *</label>
      <input type="password" name="password" class="form-control">
    </div>

    <div class="form-group">
      <label for="repeatpassword">Répeter mot de passe *</label>
      <input type="password" name="repeatpassword" class="form-control">
    </div>

    <div class="border col-lg-4 text-center items-align-center">Le mot de passe doit contenir :
    <ul class="list-group list-group-flush list-group-item-secondary">
    <li class="badge badge-secondary">6 caractères minimum</li>
    <li class="badge badge-secondary">Minimum une majuscule</li>
    <li class="badge badge-secondary">Minimum une minuscule</li>
    <li class="badge badge-secondary">Minimum un caractère spécial</li>
    </ul>
    </div>

    <button type="submit" class="btn btn-info">Valider</button>
    <p>Champs obligatoire *</p>
    </form>
    <a class="btn btn-secondary" href="{{ path('profil')}}#form">
        Retour
    </a>
  </div>
</div>
</section>

{% else %}
  <div class="alert alert-danger">Vous devez être connecter et valider par l'administrateur</div>
{% endif %}
{% endblock %}
