{% extends 'base.html.twig' %}

{% block title %}SnowTricks{% endblock %}

{% block body %}
  <!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">SnowTricks</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">A free, responsive, one page Bootstrap theme created by Start Bootstrap.</h2>
        <a href="#projects" class="btn btn-primary js-scroll-trigger">Tricks</a>
      </div>
    </div>
  </header>

  <!-- Projects Section -->
  <section id="projects" class="projects-section bg-light">
    <div class="card-group col-xs-12 col-lg-12">
      <div class="row mx-auto align-items-center col-xs-12 col-lg-12">
      <!-- Featured Project Row -->
      {% for tricks in tricks %}
        <div class="card mb-5 w-100 col-md-2 col-xs-12 col-lg-2" style="margin: 1%">
          <a href="{{ path('trick.show', {id: tricks.id, name: tricks.name})}}">
            <div class="card-body">
              <h5 class="card-title">
              {{ tricks.name }}
              </h5>
              <img class="card-img-bottom img-fluid img-responsive" style="width: 100%; height: 150px;" src="{{ tricks.imageHome }}" alt=""></p>
            </div>
          </div>
          </a>
      {% endfor %}
        </div>
      </div>
  </section>
{% endblock %}
